<div class="header">
  <a href="#default" class="logo"><span style="color: red;">Employees</span>Info</a>
  <div class="header-right">
    <a routerLink="">Home</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/about">About</a>
    <a routerLink="/login">Login</a>

  </div>
</div>

<div class="container-fluid">
  <h1 style="text-align: center;">Employee's Information</h1><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ employee.name }}
      </td>
      <td>{{ employee.id}}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.city }}</td>

    </tr>
  </tbody>
</table>
</div><br>
<div class="container-fluid div">
  <h5 style="text-align: center;">&copy; Copyright Classic. All Rights Reserved<br>Designed bi GOOGLEMADEIT.</h5>
</div>